@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables de colores globales para usar en CSS si quieres */
:root {
  --background: 144 19% 96%;
  --foreground: 144 5% 10%;
  --card: 144 19% 96%;
  --card-foreground: 144 5% 15%;
  --popover: 144 19% 96%;
  --popover-foreground: 144 95% 10%;
  --primary: 144 100% 22.2%;
  --primary-foreground: 0 0% 100%;
  --secondary: 144 19% 90%;
  --secondary-foreground: 0 0% 0%;
  --muted: 106 19% 95%;
  --muted-foreground: 144 5% 40%;
  --accent: 106 19% 90%;
  --accent-foreground: 144 5% 15%;
  --destructive: 0 50% 50%;
  --destructive-foreground: 144 5% 96%;
  --border: 144 20% 82%;
  --input: 144 20% 50%;
  --ring: 144 100% 22.2%;
  --radius: 0.5rem;
}

/* Aplicar fuente global */
body {
  font-family: 'Inter', sans-serif;
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
